  * {
    box-sizing: border-box; 
  }

  html{
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  
  .col-1 {
    background: #fa893e;
    flex: 1;
    width: 0px;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
    width: 30px;
  }
  content {
    display: flex;
    flex-direction: row;
  }
  content > article {
    flex: 4;
    min-height: 60vh;
  }
  header, footer {
    background: rgb(180, 185, 255);
    height: 20vh;
  }
  header, footer, article, nav {
    padding: 1em;
  }
  .work__flex {
    display: block;
    margin-top: 40px;
    
  }
  .work__card {
    width: 50%;
    height: 300px;
    background: blue;
  }
  .work__card--main {
    background-image: url(assets\images\stock-photo-1.jpg);
    color: lightsalmon;
    width: 100%;
    position: relative;
    z-index: 1;
  }
 .main  {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .surf {
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    left:0;
    z-index:0;
  }
  .LED {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .calc {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .Hori {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    
  }
  h2 {
  position: relative;
  color: lightsalmon;
  z-index: 1;
  top: 0;
  left: 0;  
  }
.profile {
  position: relative;
  top: 10;
  left: 975px;
  z-index: 1;
}

  @media(min-width: 768px){
    .work__flex {
      display: flex;
      gap: 30px;
    }
  }
